* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.library-container {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

.library-book {
    width: 150px;
    height: 240px;
    border: 2px solid burlywood;
    border-radius: 10px;
}

.library-book .book-title {
    color: blue;
}

.library-book .book-author {
    color: red;
}

.library-book .book-pages {
    color: orange;
}

.library-book .book-status {
    color: green;
}
